 .project-container {
    position: relative;
    width: 50%;
    height: 20rem;
    margin: 1rem 0 2rem 0;
  }
  
  .project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 60%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .project-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .polaroid:hover .project-image {
    opacity: 0.3;
  }
  
  .polaroid:hover .project-middle {
    opacity: 1;
  }
  
  .project-text {
    background-color:none;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .project-button{
    color: #0099CC;
    background-color: transparent;
    border: 2px solid #0099CC;
    border-radius: 5px;
    text-decoration: none;
  }

  .polaroid {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .polaroid-content{
    padding: 10px 20px 10px 20px;
    height: 10rem;
  }

  .polaroid-content h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  .polaroid-content hr{
    margin: 0;
    display:block;
    border:none;
    color:white;
    height:1.3px;
    background:rgb(102, 88, 88);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgb(102, 88, 88)), to(#fff));
  }